<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index_style.css">
    <title>Document</title>
</head>
<body >
    <h1 style="text-align:center ;" >Articles</h1>
    <div class="container">
       
        <div class="article-container">
            <% articles.forEach(article => { %>
                <div class="article">
                    <img src="/assets/photo.png" alt="">
                    <p><%= article.title %></p>
                    <p><%= article.author %></p>
                    <p><%= article.description %></p>
                    <p><%= article.createdAt %></p>
                    <p><%= article.published %></p>
                    <div>
                    <a href="/article/individarticle">To</a>

                    <form action="/article/<%=article.id%>?_method=DELETE" method="post"> <!--?_method=DELETE-->
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">delete</button>
                    </form>
  
                    <!--
                        <form action="/article/659a7d5629cc59f2aeea696c" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete Article</button>
                        </form>
                    -->
                </div>
                </div>
            <% }) %>
        </div><a href="/article/create">Create article</a>
    </div>


</body>
</html>