<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index_style.css">
    <title>Document</title>
</head>
<body >

        <div class="header">
        <div class="header-left">
            <div>Read</div>
            <div class="header-left_icon">
                <img src="/assets/downarrow.svg" alt=""  >
            </div>
        </div>
        
        <div>Dezien</div>
        <div class="header-right">
            <div class="header-login">Login</div>
            <img src="/assets/search.svg" alt="Search"style="width:15px">
        </div>
    
        </div>
   
    
    <div class="nav_wrapper">
        <div class="nav_col1">
                <h3 class="nav_label"></h3>
                <ul class="nav_links">
                    <li class="nav_link">Art</li>
                    <li class="nav_link">Vacation</li>
                    <li class="nav_link">beach</li>
                    <li class="nav_link">more art</li>
                </ul>
        </div>
        <div class="nav_col2">

        </div>
    </div>

    

   
    <div class="container">
       
        <div class="article-container">
            <% articles.forEach(article => { %>
                <a href="/article/individarticle/<%=article.id%>">
                <div class="article">
                    <img src="data:<%= article.image.contentType %>;base64,<%= article.image.data.toString('base64') %>" alt="">
                    <h4 class="sub-heading">Travel</h4>
                    <div class="heading-content">
                            <h4 class="title-content"><%=article.title%> </h4>
                             <h5 class="subDescription-content"><%=article.subDescription%> </h5>

                            <form action="/article/<%=article.id%>?_method=DELETE" method="post"> <!--?_method=DELETE-->
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">delete</button>
                            </form>
        
                    <!--
                        <form action="/article/659a7d5629cc59f2aeea696c" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete Article</button>
                        </form>
                    -->
                </div>
                </div>
            </a>
            <% }) %>
        </div><a href="/article/create">Create article</a>
    </div>


</body>
</html>