<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index_style.css">
    <title>Document</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body >  
    <%- include('_nav_bar') %>
<br>
<br>   

<%- include('_drop_down')%>


    
    <div class="nav_wrapper">
        <div class="nav_col1">
                <h3 class="nav_label"></h3>
                <ul class="nav_links">
                    <li class="nav_link">Art</li>
                    <li class="nav_link">Vacation</li>
                    <li class="nav_link">beach</li>
                    <li class="nav_link">more art</li>
                </ul>
        </div>
        <div class="nav_col2">

        </div>
    </div>

    

   
    <div class="container">
        <div class="hero">
            
            
       
        <div class="article-container">
            <% articles.forEach(article => { %>
                <a href="/article/individarticle/<%=article.id%>">
                <div class="article">
                    <img src="data:<%= article.image.contentType %>;base64,<%= article.image.data.toString('base64') %>" alt="">
                    <h4 class="sub-heading"><%=article.genre%></h4>
                    <div class="heading-content">
                            <h4 class="title-content"><%=article.title%> </h4>
                             <h5 class="subDescription-content"><%=article.subDescription%> </h5>

                            <form action="/article/<%=article.id%>?_method=DELETE" method="post"> <!--?_method=DELETE-->
                                <input type="hidden" name="_method" value="DELETE">
                            
                               <% if(user.admin=="true") {%>
                                <button type="submit">delete</button>
                               <% } else { %>
                                
                                <%}%>
                               
                            </form>
        
                    <!--
                        <form action="/article/659a7d5629cc59f2aeea696c" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete Article</button>
                        </form>
                    -->
                </div>
                </div>
            </a>
            <% }) %>
        </div>
        <% if(user.admin=="true") {%>
        </div><a href="/article/create">Create article</a>
           <% } else { %>
            
            <%}%>
       
    </div>


</body>
<script>   
    function myFunction(){
        document.getElementById()
    }

</script>
</html>