<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/article_style.css">
    
    <title>Document</title>
</head>
<body>
    <h1>Individual Article!</h1>
    <h1><%= input.title %></h1>
  
    <div class="article-container" style="display:flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
           
            <div class="article" >
              
                <p><%= input.author %></p>
                <p><%= input.description %></p>
                <p><%= input.createdAt %></p>
                <p><%= input.published %></p>
                <br>
              
                
            </div>
            <a href="/article/edit"><button>Update</button></a>
            
            <a href="/">Go Back</a>
    </div>
</div>
    
</body>
</html>