<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/article_style.css">
    
    <title>Document</title>
</head>
<body>
    <%- include('_nav_bar') %>
    
  
    <h1><%= input.title %></h1>
  
    <div class="outer-container">

   
    <div class="article-container" style="display:flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
        <div class="dates-author">
            <p><%=input.cleanedDate%></p>
            <div style="font-size: 24px;">|</div>
            <p>by: <%= input.author %></p>
  
          </div>

        <img class="image" src="data:<%= input.image.contentType %>;base64,<%= input.image.data.toString('base64') %>" alt="">
            <div class="article" >
            
             
           
                <p><%= input.description %></p>
                
              
                <br>
                <% if(user.admin=="true") {%>
                    <a href="/article/edit/<%= input.id %>"><button>Update</button></a>
                   <% } else { %>
                    
                    <%}%>

                
            
                <a href="/">Go Back</a>
            </div>
        
    </div>
</div> 
</div> 
</body>
</html>